{
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": module
  },
  "env": {
    "node": true
  },
  "rules": {
    "no-var": "warn",
    "quotes": ["warn", "double"],
    "semi": 1
  }
}
